.sectorWrapper {
  @include card;
}

.sector {
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background: $black;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  padding: 100px 0;
  justify-content: center;

  @include smallMedia {
    min-height: 400px;
    align-items: flex-start;
    padding: 48px 0;
    background-size: cover;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    transition: all 0.5s;
    width: 100%;
    max-width: 900px;

    @include smallMedia {
      flex-direction: column;
      padding: 40px;
    }

    @include extraSmallMedia {
      padding: 20px;
    }

    .description {
      width: 520px;
      line-height: 28px;
      font-size: 18px;
      color: $grey-100;

      @include smallMedia {
        text-align: center;
        width: auto;
      }

      .title {
        font-size: 30px;
        font-weight: 600;
        margin-bottom: 50px;
        color: $white;
      }

      b {
        color: $white;
      }
    }

    .rarity {
      display: flex;
      flex-direction: column;
      width: 400px;
      text-align: left;
      margin-left: 60px;
      position: relative;

      @include smallMedia {
        margin-left: 0;
        margin-top: 60px;
      }

      @include extraSmallMedia {
        width: 100%;
      }

      & > hr {
        margin: 20px 0;
        width: 100%;
        height: 1px;
        border: none;
        background: radial-gradient(
          rgba($grey-100, 0.2) 0%,
          rgba($grey-100, 0) 65%
        );
      }

      & > span {
        font-size: 20px;
        font-weight: 500;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 40px;
        box-sizing: border-box;

        & > label {
          position: absolute;
          background-clip: initial;
          -webkit-background-clip: initial;
          -webkit-text-fill-color: initial;
          background: $grey-100;
          color: $black;
          font-size: 16px;
          padding: 4px 6px;
          border-radius: 6px;
          right: 40px;
        }

        &.common {
          @include gradientFont(
            linear-gradient(45deg, #fca04a 40%, #9f570c 60%)
          );
        }
        &.uncommon {
          @include gradientFont(
            linear-gradient(45deg, #4ad8fc 40%, #1b63d9 60%)
          );
        }
        &.rare {
          @include gradientFont(
            linear-gradient(45deg, #4afcad 40%, #46d91b 60%)
          );
        }
        &.super {
          @include gradientFont(
            linear-gradient(45deg, #fc4ae3 40%, #6620ff 60%)
          );
        }
        &.mythic {
          @include gradientFont(
            linear-gradient(45deg, #eeedbd 40%, #ffd420 60%)
          );
        }
        &.legendary {
          @include gradientFont(
            linear-gradient(45deg, #e35252 40%, #90ff20 50%, #6bffe0 60%)
          );
        }
      }
    }
  }
}
