.sectorWrapper {
  @include card;
}

.sector {
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background: $black;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  padding: 50px 0;
  justify-content: center;

  @include smallMedia {
    min-height: 400px;
    align-items: flex-start;
    padding: 48px 0;
    background-size: cover;
  }

  .inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: $white;
    transition: all 0.5s;
    width: 100%;
    max-width: 900px;

    @include smallMedia {
      padding: 40px;
    }

    @include extraSmallMedia {
      padding: 20px;
    }

    h2 {
      line-height: 35px;
      font-size: 36px;
      font-family: $font-primary;
      text-align: center;
    }

    .title {
      @include gradientFont($gradient-primary);
      font-size: 42px;
      font-family: $font-primary;
      font-weight: 500;
      margin-bottom: 100px;
    }

    .item {
      display: flex;
      flex-direction: column;
      color: $grey-100;
      align-items: center;

      & > b {
        font-size: 24px;
        font-weight: 600;
        font-family: $font-tertiary;
        color: $tertiary;
      }

      & > span {
        margin-top: 12px;
        font-size: 17px;
        text-align: center;
        line-height: 26px;
      }

      u {
        color: $secondary;
      }

      s {
        color: $primary;
      }
    }

    svg.arrow {
      transform: rotate(270deg);
      margin: 35px 0;
      color: rgba($grey-100, 0.3);
    }
  }
}
