header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
  background: linear-gradient($black, transparent);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  transition: all 0.3s;

  &.scrolled {
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
  }

  @include smallMedia {
    height: auto;
    backdrop-filter: blur(80px);
    -webkit-backdrop-filter: blur(80px);
  }

  @include extraSmallMedia {
    padding-bottom: 0;
  }

  .inner {
    @include card(transparent);

    width: 100%;
    max-width: 1400px;
    // max-width: 1920px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;

    @include largeMedia {
      max-width: initial;
      padding: 0 30px;
    }

    @include smallMedia {
      padding: 20px;
    }

    @include extraSmallMedia {
      padding: 10px;
    }

    .title {
      @include flex;

      & > img {
        display: none;
        width: 32px;
      }

      .name {
        font-size: 33px;
        letter-spacing: 8px;
        display: flex;
        align-items: center;

        & > img {
          height: 65px;
          width: 68px;

          &.favicon {
            display: none;
          }

          @include mediumMedia {
            &.favicon {
              display: initial;
            }

            &.logo {
              display: none;
            }
          }

          @include smallMedia {
            &.favicon {
              display: none;
            }

            &.logo {
              display: initial;
            }
          }

          @include extraSmallMedia {
            &.favicon {
              display: initial;
            }

            &.logo {
              display: none;
            }
          }
        }
      }
    }

    .hamburger {
      display: none;

      @include smallMedia {
        display: flex;
        padding-left: 0;
        padding-right: 0;
        width: 50px;
        height: 50px;
        min-width: inherit;
        background: transparent;
        color: $primary;
        margin-right: 8px;
      }
    }

    .nav {
      display: flex;
      align-items: center;

      .connect {
        font-family: $font-secondary;
        @include marginLeft;

        @include smallMedia {
          padding: 8px 12px;
        }

        .connectText {
          font-family: $font-secondary; 
          margin-left: 8px;
          @include extraSmallMedia {
            display: none;
          }
        }
      }

      .reflect {
        background: $gradient-primary;
        font-family: $font-quaternary;
        border-radius: 25px;
        margin-left: 30px;
        display: flex;
        padding: 10px 20px;
        align-items: center;
      }
    }
  }

  .menu,
  .menuDropdown {
    cursor: pointer;
    text-decoration: none;
    color: $white;
    font-size: 17px;
    font-weight: 500;
    @include marginLeft;
    position: relative;

    &.selected {
      color: $primary;
      animation: none !important;

      & > img {
        display: none;
      }
    }

    &.giveaway {
      font-weight: 700;
      transform: scale(1);
      position: relative;

      & > img {
        position: absolute;
        left: -11px;
        top: -14px;
        height: 50px;
        filter: invert(1) brightness(10);
      }
    }

    & > label {
      background: $gradient-primary;
      position: absolute;
      bottom: -30px;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 12px;
      padding: 5px 10px;
      color: $white;
      border-radius: 14px;
    }
  }

  .menuDropdown {
    margin-bottom: 15px;

    &.giveaway {
      animation: pulse 0.5s infinite;
    }
  }

  .menuDropdown:hover {
    color: $primary;
  }

  .menu {
    @include smallMedia {
      display: none;

    }
  }

  .menu:hover {
    color: $primary;
  }

  .dropdown {
    @include flex(flex-start, center, column);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  70% {
    transform: scale(1.05);
  }

  100% {
    transform: scale(1);
  }
}
