.home {
  display: flex;
  justify-content: center;

  .inner {
    width: 100%;
    // max-width: 1920px;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
  }
}
