$black: black;
$white: white;

$grey: #0d0d0d;
$grey-5: #141414;
$grey-10: #2e2626;
$grey-20: #322b2b;
$grey-30: #383838;
$grey-40: #4f4f4f;
$grey-45: #656565;
$grey-50: #222;
$grey-100: rgb(204, 204, 204);

$primary: #FFC300;
$secondary: #ff726f;
$tertiary: #F0E2B6;

$gradient-primary: linear-gradient(250deg, #FFC300 -7.67%, #FFC300 100%);
