@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');


 @font-face {
    font-family: 'AstroSpace';
    src: url("AstroSpace.ttf") format("truetype");
 }

 @font-face {
    font-family: 'Andromeda';
    src: url("Andromeda.ttf") format("truetype");
 }

 @font-face {
    font-family: 'BeyondMars';
    src: url("BeyondMars.ttf") format("truetype");
 }

 @font-face {
    font-family: 'StreamerSlant';
    src: url("StreamerSlant.otf") format("truetype");
 }

 @font-face {
   font-family: 'MoonbaseOmega';
   src: url("MoonbaseOmega.ttf") format("truetype");
}

$font-primary: 'Andromeda';
$font-secondary: 'StreamerSlant';
$font-tertiary: 'AstroSpace';
$font-quaternary: 'BeyondMars';
$font-quinary: 'MoonbaseOmega';