.sectorWrapper {
  @include card;
}

button.button {
  border-radius: 100rem;
  border-color: $grey-50;
  padding: 1rem;
  font-size: 1rem;
  padding: .5rem 3rem;
  font-family: $font-quaternary; 
  margin-left: 8px;
  background-color: $primary;
  cursor: pointer;
}

button.button:hover {
  box-shadow: none;
  color: $grey;
}

.balance {
color: $primary;
}

.margin-auto {
  margin: 0 auto;
}

.sector {
  width: 100%;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  background-color: $black;
  background-blend-mode: overlay;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;

  @include smallMedia {
    min-height: 400px;
    align-items: flex-start;
    padding: 48px 0;
    background-size: cover;
  }

  .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white;
    transition: all 0.5s;
    width: 100%;
    padding-top: 35px;
    padding-bottom: 28px;
    max-width: 900px;

    @include smallMedia {
      justify-content: center;
    }

    @include extraSmallMedia {
      padding: 20px;
    }

.connect {
        font-family: $font-secondary;

        @include smallMedia {
          padding: 8px 12px;
        }

        .connectText {
          font-family: $font-secondary; 
          margin-left: 8px;
          @include extraSmallMedia {
            display: none;
          }
        }
      }

    .clip {
      position: relative;

      @include smallMedia {
        display: none;
      }

      & > img {
        width: 430px;
        height: auto;
        opacity: 0.9;
        filter: grayscale(0.8);
        -webkit-filter: grayscale(0.8);
      }

      &::after {
        position: absolute; 
        content: '';
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(transparent, $black);
      }
    }
    .header{
      text-align: center;
    }

    .auction {
      width: 900px;
      text-align: center;

      h2 {
        @include gradientFont($gradient-primary);
        font-size: 36px;
        font-weight: 600;
        font-family: $font-primary;
        margin-bottom: 50px;
      }

      p {
        color: $grey-100;
        line-height: 28px;
        font-size: 18px;

        & > b {
          color: $white;
        }
      }
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  background-color: $primary;
  border-radius: 25px;
  border-color: $grey-45;
}

input.burn-input {
  font-size: 30px;
}

.transaction {
  color: $secondary;
  font-family: $font-tertiary;
}

select {
  font-size: 18px;
  background-color: #FFC300;
  border-radius: 100rem;
}